<p>two-way works!</p>

<input type="text" [(ngModel)]="name" placeholder="Enter name" />
<p>Hello, {{ name }}</p>

<input type="checkbox" [(ngModel)]="isChecked" />
<p>Checkbox value is : {{ isChecked }}</p>

<input type="radio" [(ngModel)]="selectedOption" [value]="'option 1'" /> Option
1
<input type="radio" [(ngModel)]="selectedOption" [value]="'option 2'" /> Option
2
<p>Selected radio value: {{ selectedOption }}</p>

<select [(ngModel)]="dropDownOption">
  <option [ngValue]="'Option1'">Option 1</option>
  <option [ngValue]="'Option2'">Option 2</option>
</select>
<p>Dropdown value selected is : {{ dropDownOption }}</p>

<textarea [(ngModel)]="textAreaValue" placeholder="Enter Text here"></textarea>
<p>Text area value : {{ textAreaValue }}</p>
